<mat-card>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="dog-card">
      <mat-card-header>
          <mat-card-title>{{dog.name}}</mat-card-title>
      </mat-card-header>
      <img matCardImage [src]="dog.url">
      <mat-card-content>
          <!-- {{dog.description | async }} -->
      </mat-card-content>
      <mat-card-actions  >
          <a  mat-raised-button color="primary" routerLink="/">Home Page</a>
      </mat-card-actions>
  </mat-card>
  </section>
</mat-card>
